# EditorConfig helps developers define and maintain consistent coding styles
# across different editors and IDEs. For more information, visit
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style end-of-line characters
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 4
